:root {
  --heading-text-color: #00539b;
  --footer-bg-color: #00a0e4;
  --navbar-bg-color: #00539b;
  --font-size-base: 16px;

  /* Additional BRI theme colors */
  --text-color: #333333;
  --link-color: #00539b;
  --link-hover-color: #00a0e4;
  --sidebar-bg: #f5f7f9;
}
